<div id="comment-form">
  <%= form_with model: comment, url: article_comments_path(article), class: "max-w-sm" do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :body, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= f.text_area :body, class: "block mb-2 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", rows: "4", placeholder: Comment.human_attribute_name(:body) %>
    <%= f.submit t('defaults.post'), class: "block flex justify-center items-center text-white bg-teal-400 hover:bg-teal-500 focus:outline-none font-medium rounded-lg text-sm px-20 py-3 text-center dark:bg-teal-400 dark:hover:bg-teal-500" %>
  <% end %>
</div>
