<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <div id="my-article-id-<%= my_article.id %>">
    <%= link_to image_tag(my_article.article_image.url), article_path(my_article), class: "rounded-t-lg" %>
    <div class='p-5'>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <%= link_to my_article.topic.title, team_topic_path(current_user.team, my_article.topic) %>
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        <%= l my_article.created_at, format: :short %>
      </p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        <%= my_article.caption %>
      </p>
      <div class='ms-auto'>
        <%= link_to edit_article_path(my_article), id: "button-edit-#{my_article.id}" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to article_path(my_article), id: "button-delete-#{my_article.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
