<div class="flex flex-col w-screen justify-center">
  <p class="mb-3 text-grray-900 text-2xl dark:text-white">お題: <%= @topic.title %></p>
  <div class="mb-2">
    <%= link_to image_tag(articles_sorted_by_likes(@topic.articles).first.article_image.url), article_path(articles_sorted_by_likes(@topic.articles).first), class: "h-auto max-w-full rounded-lg" %>
    <div class="flex justify-between max-w-full">
      <p class="text-gray-900 dark:text-white"><%= articles_sorted_by_likes(@topic.articles).first.user.decorate.full_name %></p>
      <% if current_user.own?(articles_sorted_by_likes(@topic.articles).first) %>
        <div class='ms-auto'>
          <%= link_to edit_article_path(articles_sorted_by_likes(@topic.articles).first), id: "button-edit-#{articles_sorted_by_likes(@topic.articles).first.id}" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
          <%= link_to article_path(articles_sorted_by_likes(@topic.articles).first), id: "button-delete-#{articles_sorted_by_likes(@topic.articles).first.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      <% else %>
        <div class="text-xl flex justify-end text-teal-400">
          <%= render 'articles/like_buttons', { article: articles_sorted_by_likes(@topic.articles).first } %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render partial: 'topics/topic_gallery_w_info', locals: { topic_articles: articles_sorted_by_likes(@topic.articles).drop(1) } %>
  <%= paginate @topic_articles %>
</div>
