<header>
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen flex flex-wrap items-center justify-between mx-auto p-4">
      <div>
        <%= link_to home_path, class: "self-left text-2xl p-6 font-semibold whitespace-nowrap dark:text-white", alt: "camera icon" do %>
          <i class="fa-solid fa-camera-retro"></i>
        <% end %>
      </div>
      <div class="items-center hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-4 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Notice</a>
          </li>
          <li>
            <%= link_to teams_path, class: "block py-2 px-3 text-gray-900 text-2xl text-black dark:text-white" do %>
              <i class="fa-solid fa-globe"></i>
            <% end %>
          </li>
          <li>
            <%= link_to team_path(current_user.team_id), class: "block py-2 px-3 text-gray-900 text-2xl text-black dark:text-white" do %>
              <i class="fa-solid fa-user-group"></i>
            <% end %>
          </li>
          <li>
            <button type="button" class="flex mt-2 text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
              <span class="sr-only">Open user menu</span>
              <%= image_tag current_user.avatar_url, class: "w-8 h-8 rounded-full" %>
            </button>
          </li>
          <li>
            <%= button_tag onclick: "toggleDarkMode()", class: "block py-2 px-3 text-gray-900  text-2xl text-black dark:text-white" do %>
              <i class="fa-solid fa-moon"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <!-- Dropdown menu -->
      <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white"><%= current_user.decorate.full_name %></span>
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <%= link_to t('header.user_info'), profile_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
          </li>
          <li>
            <%= link_to t('header.logout'), logout_path, method: :delete, data: { turbo_method: :delete}, class: "block px-4 py-2 text-sm text-red-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-red-400 dark:hover:text-red-300" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
