<% content_for(:title) %>
<div class="flex font-sans w-full">
  <div class="flex-auto p-6 w-1/2">
    <div class="flex flex-wrap">
      <div class="w-full flex-none text-sm font-medium text-slate-700 dark:text-white mt-10 p-10">
        この文章はダミーです。
        文字の大きさ、量、字間、行間等を
        確認するために入れています。
      </div>
    </div>
    <div class="flex space-x-4 mb-6 text-sm font-medium">
      <div class="flex-auto flex space-x-6 justify-center">
        <%= link_to "ログイン", new_user_path, class: "h-10 px-12 flex items-center justify-center font-semibold rounded-md bg-teal-300 text-white" %>
      </div>
      <!-- Modal toggle -->
      <%= link_to "ログイン", "#", data: { modal_target: "authentication-modal", modal_toggle: "authentication-modal" }, class: "block text-white bg-teal-400 hover:bg-teal-500 focus:outline-none font-medium rounded-lg text-sm px-12 py-2.5 text-center dark:bg-teal-400 dark:hover:bg-teal-500" %>
    </div>
  </div>
  <div class="flex-none relative w-1/2">
    <%= image_tag 'jisca-lucia-vVrDHc8Nf94-unsplash.jpg', class: "absolute w-full h-full inset-0 object-cover", loading: "lazy" %>
    <button class="absolute inset bottom-[-30px] right-0 flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300" type="button" aria-label="Like">
      <svg width="20" height="20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
      </svg>
    </button>
  </div>
</div>

<!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          ログイン
        </h3>
        <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5">
        <%= form_with url: login_path, class: "space-y-4" do |f| %>
          <div>
            <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.email_field :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", placeholder: "email@example.com" %>
          </div>
          <div>
            <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", placeholder: "********" %>
          </div>
          <div class="flex justify-between">
            <%= link_to "パスワードをお忘れですか？", "#", class: "text-sm text-teal-500 hover:underline dark:text-teal-500" %>
          </div>
          <%= f.submit "ログイン", class: "w-full text-white bg-teal-400 hover:bg-teal-500 focus:outline-none font-medium rounded-lg text-sm px-12 py-2.5 text-center dark:bg-teal-400 dark:hover:bg-teal-500" %>
          <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
            アカウントをお持ちでない場合 <%= link_to "新規作成する", new_user_path, class: "text-teal-500 hover:underline dark:text-teal-400" %>
          </div>         
        <% end %>
      </div>
    </div>
  </div>
</div>
